.welcome-note h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    background-color: #4461F2;
    font-size: 20px;
    font-weight: 800;
    font-family: Poppins;
    color: white;
}

.text-quotes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: none;
    width: 100vw;
    height: 50vh;


}

.text-quotes span {
    margin-top: none;
    color: #000;
    border: 1px solid;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: none;
}

.text-username {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 1px;
    margin-top: none;
}

.text-pasword p {
    float: right;

}

.login-btn {
    padding: 5px;
}